In [2]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

In [3]:
reple_list = []
score_list = []
for page in range(1, 101) :
    
    url ='https://movie.naver.com/movie/bi/mi/pointWriteFormList.naver?code=88237&type=after&onlyActualPointYn=N&onlySpoilerPointYn=N&order=newest&page='+str(page)
    res = req.get(url)
    soup = bs(res.text, 'lxml')
    
    # 댓글 영역 선택
    reples = soup.select('div.score_reple > p')
    
    # 평점 영역 선택
    scores = soup.select('div.star_score > em')
    
    # 관람객 선택, 제거
    icon = soup.select('span.ico_viewer')
    for viewer in icon:
        viewer.extract()  
        
    # 스포일러 텍스트 선택, 제거
    spo = soup.select('span.text_spo')
    for spo_text in spo:
        spo_text.extract()
    
    for reple in reples:
        reple_list.append(reple.text.strip())
        
    for score in scores:
        score_list.append(score.text.strip())

In [4]:
info = { 'score' : score_list, 'review' : reple_list}

In [5]:
df = pd.DataFrame(info)

In [6]:
df

    score                                             review
0       1  우연한 기회에 보았다. 딱 반 조금넘게 보다 꺼버렸다. 진심 1점도 아깝다. 아무리...
1       4  이영화의 주인공이 박진영만아니었다면 ...ㅋㅋㅋ 1 ㅋㅋㅋ 2 ㅋㅋㅋ 3 ㅋㅋㅋ 4...
2      10                                       여기 100점 없냐??
3      10                                  올해 봤던 영화 중 단연 최고봉
4       1                                       부제 : 클레멘타인 2
..    ...                                                ...
995    10                                  박진영 표정이 너무 웃김ㅋㅋㅋㅋ
996     1          이런 영화가 제작될 수 있다는 것이 이 나라 영화계의 비극이다. (발연출)
997     1                                     진짜 비추.....짱잼없음
998    10                                             good~~
999     1                         400명 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ

[1000 rows x 2 columns]

In [17]:
df.to_csv('review_8.csv', encoding = 'CP949', index = False)

In [7]:
count = 0
for x in df["score"]:
    if x=='1':
        count+=1
        
count

418

In [8]:
count = 0
for x in df["score"]:
    if x=='2':
        count+=1
        
count

36

In [9]:
count = 0
for x in df["score"]:
    if x=='3':
        count+=1
        
count

44

In [10]:
count = 0
for x in df["score"]:
    if x=='4':
        count+=1
        
count

34

In [11]:
count = 0
for x in df["score"]:
    if x=='5':
        count+=1
        
count

42

In [12]:
count = 0
for x in df["score"]:
    if x=='6':
        count+=1
        
count

33

In [13]:
count = 0
for x in df["score"]:
    if x=='7':
        count+=1
        
count

42

In [14]:
count = 0
for x in df["score"]:
    if x=='8':
        count+=1
        
count

51

In [15]:
count = 0
for x in df["score"]:
    if x=='9':
        count+=1
        
count

37

In [16]:
count = 0
for x in df["score"]:
    if x=='10':
        count+=1
        
count

263