In [60]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

In [61]:
reple_list = []
score_list = []
for page in range(1, 101) :
    
    url ='https://movie.naver.com/movie/bi/mi/pointWriteFormList.naver?code=191600&type=after&onlyActualPointYn=N&onlySpoilerPointYn=N&order=newest&page='+str(page)
    res = req.get(url)
    soup = bs(res.text, 'lxml')
    
    # 댓글 영역 선택
    reples = soup.select('div.score_reple > p')
    
    # 평점 영역 선택
    scores = soup.select('div.star_score > em')
    
    # 관람객 선택, 제거
    icon = soup.select('span.ico_viewer')
    for viewer in icon:
        viewer.extract()  
        
    # 스포일러 텍스트 선택, 제거
    spo = soup.select('span.text_spo')
    for spo_text in spo:
        spo_text.extract()
    
    for reple in reples:
        reple_list.append(reple.text.strip())
        
    for score in scores:
        score_list.append(score.text.strip())

In [62]:
info = { 'score' : score_list, 'review' : reple_list}

In [63]:
df = pd.DataFrame(info)

In [64]:
df

    score                                             review
0       8  전편을 안보면 이해가 안가는 부분이 많다는 것과 세밀한 설정으로 짜였던 구작과는 달...
1       4         역사의 뒤안길...구질구질한 또 하나의 회귀성. 상징과 표상의 반영은 어렵다
2       5  사실 매트릭스 3에서 내용이 종결되었는데 그걸 다시 4에서 연결 시키려고 엄청 수고...
3       7                                      나쁘지는 않게 봤다...
4      10                                                  굿
..    ...                                                ...
995     6                  글쎄.. 뭔가 잘모르겠네. 그래도 팬심에 중간점수 줘야겠네요
996     9  나의 매트릭스를 이렇게 만들어놓다니.... 모피어스 스미스 돌려놔라 이놈드라ㅠㅠ 그...
997     6             내 추억 물어내라 워쇼스키는 성전환과 함께 재능을 다 잃은게 확실하다
998     4                            오랜만에 만난 친구가 반갑기보단 어색할 때
999    10  보고 온 사람 평점이 1점밖에 없어서 사실 보지 말까 걱정을 많이 했고 기대를 안하...

[1000 rows x 2 columns]

In [65]:
df.to_csv('review_1.csv', encoding = 'CP949', index = False)

In [66]:
count = 0
for x in df["score"]:
    if x=='1':
        count+=1
        
count

162

In [51]:
count = 0
for x in df["score"]:
    if x=='2':
        count+=1
        
count

135

In [52]:
count = 0
for x in df["score"]:
    if x=='3':
        count+=1
        
count

41

In [53]:
count = 0
for x in df["score"]:
    if x=='4':
        count+=1
        
count

125

In [54]:
count = 0
for x in df["score"]:
    if x=='5':
        count+=1
        
count

82

In [55]:
count = 0
for x in df["score"]:
    if x=='6':
        count+=1
        
count

126

In [56]:
count = 0
for x in df["score"]:
    if x=='7':
        count+=1
        
count

72

In [57]:
count = 0
for x in df["score"]:
    if x=='8':
        count+=1
        
count

64

In [58]:
count = 0
for x in df["score"]:
    if x=='9':
        count+=1
        
count

28

In [59]:
count = 0
for x in df["score"]:
    if x=='10':
        count+=1
        
count

165