In [17]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

In [18]:
reple_list = []
score_list = []
for page in range(1, 101) :
    
    url ='https://movie.naver.com/movie/bi/mi/pointWriteFormList.naver?code=204649&type=after&onlyActualPointYn=N&onlySpoilerPointYn=N&order=newest&page='+str(page)
    res = req.get(url)
    soup = bs(res.text, 'lxml')
    
    # 댓글 영역 선택
    reples = soup.select('div.score_reple > p')
    
    # 평점 영역 선택
    scores = soup.select('div.star_score > em')
    
    # 관람객 선택, 제거
    icon = soup.select('span.ico_viewer')
    for viewer in icon:
        viewer.extract()  
        
    # 스포일러 텍스트 선택, 제거
    spo = soup.select('span.text_spo')
    for spo_text in spo:
        spo_text.extract()
    
    for reple in reples:
        reple_list.append(reple.text.strip())
        
    for score in scores:
        score_list.append(score.text.strip())

In [19]:
info = { 'score' : score_list, 'review' : reple_list}

In [20]:
df = pd.DataFrame(info)

In [21]:
df

    score                                             review
0       7  볼 건 배우들밖에 없음 연출 그냥 연말에 따뜻한 감성 느끼기에만 좋은 영화 연출은 ...
1       1  별점에 빵점은 왜 없음? 곽재용 감독 한게 뭡니까 ?? 억지로 꾸겨 넣은 퍼즐 같은 영화
2       2                                     이게 영화야...? 진심?
3      10                                                  굿
4      10
..    ...                                                ...
995     6                  새롭지 않은 이야기를 볼 만하게 포장해주는 매력적인 캐릭터들
996     4                      유명한 배우들을 캐스팅 해놓고스토리가...왜이러죠 하
997    10  안좋은 평이 꽤 보이지만 저에겐 최고의 영화네요 배우 라인업 이 정도 아니었으면 못...
998     9
999    10  마음이 따뜻해진다는게 뭔지 알게해준 영화에요.방학식날 친구들끼리 보러갔다가, 보는내...

[1000 rows x 2 columns]

In [22]:
df.to_csv('review_3.csv', encoding = 'CP949', index = False)

In [23]:
count = 0
for x in df["score"]:
    if x=='1':
        count+=1
        
count

123

In [24]:
count = 0
for x in df["score"]:
    if x=='2':
        count+=1
        
count

92

In [25]:
count = 0
for x in df["score"]:
    if x=='3':
        count+=1
        
count

12

In [26]:
count = 0
for x in df["score"]:
    if x=='4':
        count+=1
        
count

64

In [27]:
count = 0
for x in df["score"]:
    if x=='5':
        count+=1
        
count

28

In [28]:
count = 0
for x in df["score"]:
    if x=='6':
        count+=1
        
count

69

In [29]:
count = 0
for x in df["score"]:
    if x=='7':
        count+=1
        
count

51

In [30]:
count = 0
for x in df["score"]:
    if x=='8':
        count+=1
        
count

96

In [31]:
count = 0
for x in df["score"]:
    if x=='9':
        count+=1
        
count

37

In [15]:
count = 0
for x in df["score"]:
    if x=='10':
        count+=1
        
count

428