In [2]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

In [3]:
reple_list = []
score_list = []
for page in range(1, 101) :
    
    url ='https://movie.naver.com/movie/bi/mi/pointWriteFormList.naver?code=182362&type=after&onlyActualPointYn=N&onlySpoilerPointYn=N&order=newest&page='+str(page)
    res = req.get(url)
    soup = bs(res.text, 'lxml')
    
    # 댓글 영역 선택
    reples = soup.select('div.score_reple > p')
    
    # 평점 영역 선택
    scores = soup.select('div.star_score > em')
    
    # 관람객 선택, 제거
    icon = soup.select('span.ico_viewer')
    for viewer in icon:
        viewer.extract()  
        
    # 스포일러 텍스트 선택, 제거
    spo = soup.select('span.text_spo')
    for spo_text in spo:
        spo_text.extract()
    
    for reple in reples:
        reple_list.append(reple.text.strip())
        
    for score in scores:
        score_list.append(score.text.strip())

In [4]:
info = { 'score' : score_list, 'review' : reple_list}

In [5]:
df = pd.DataFrame(info)

In [6]:
df

    score                                             review
0      10                                                  굿
1       1     유체만 이탈한 게 아니라 연기력도 이탈했네. 초반부터 발연기에 보기 너무 힘들었다.
2       8                             윤계상과 연기등 액션을 시원하게 볼수있다
3       8    시간에따라 변하는 모습은 잼있었는데 같은편끼리 피튀기기는 소재와 마약은좀  아쉬웠네요
4       7                             소재는 신선했으나 공감은 조금 부족했어요
..    ...                                                ...
995    10                            간만에 돈 안아까운 영화였음 기대이상이었음
996     2                                      최악의 영화임 보지마세요
997    10  영화내용이 잘 접해보지못한 신선한 소재여서 지루할 틈이 없었구요 무엇보다 결말을 계...
998     8                                기대에 비해선 별로 였으나 괜찮았음
999     8                              초반 10분 압도적이나 중후반이 아쉬움

[1000 rows x 2 columns]

In [17]:
df.to_csv('review_4.csv', encoding = 'CP949', index = False)

In [7]:
count = 0
for x in df["score"]:
    if x=='1':
        count+=1
        
count

54

In [8]:
count = 0
for x in df["score"]:
    if x=='2':
        count+=1
        
count

71

In [9]:
count = 0
for x in df["score"]:
    if x=='3':
        count+=1
        
count

17

In [10]:
count = 0
for x in df["score"]:
    if x=='4':
        count+=1
        
count

63

In [11]:
count = 0
for x in df["score"]:
    if x=='5':
        count+=1
        
count

29

In [12]:
count = 0
for x in df["score"]:
    if x=='6':
        count+=1
        
count

107

In [13]:
count = 0
for x in df["score"]:
    if x=='7':
        count+=1
        
count

101

In [14]:
count = 0
for x in df["score"]:
    if x=='8':
        count+=1
        
count

171

In [15]:
count = 0
for x in df["score"]:
    if x=='9':
        count+=1
        
count

61

In [16]:
count = 0
for x in df["score"]:
    if x=='10':
        count+=1
        
count

326