In [2]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

In [18]:
reple_list = []
score_list = []
for page in range(1, 101) :
    
    url ='https://movie.naver.com/movie/bi/mi/pointWriteFormList.naver?code=167421&type=after&isActualPointWriteExecute=false&isMileageSubscriptionAlready=false&isMileageSubscriptionReject=false&page='+str(page)
    res = req.get(url)
    soup = bs(res.text, 'lxml')
    
    # 댓글 영역 선택
    reples = soup.select('div.score_reple > p')
    
    # 평점 영역 선택
    scores = soup.select('div.star_score > em')
    
    # 관람객 선택, 제거
    icon = soup.select('span.ico_viewer')
    for viewer in icon:
        viewer.extract()  
        
    # 스포일러 텍스트 선택, 제거
    spo = soup.select('span.text_spo')
    for spo_text in spo:
        spo_text.extract()
    
    for reple in reples:
        reple_list.append(reple.text.strip())
        
    for score in scores:
        score_list.append(score.text.strip())

In [19]:
info = { 'score' : score_list, 'review' : reple_list}

In [20]:
df = pd.DataFrame(info)

In [21]:
df

    score                                             review
0      10                              김대명님의 연기력에 너무 감동받았습니다
1       8  석구의 이야기를 들어주는 사람은 없었고, 덩그러니 혼자 남겨지게 만들어가는 것이 보...
2      10  떠먹여 주는 영화가 있다.스토리도, 재미있는 요소도, 캐틱터의 매력도, 너무도 잘 ...
3       6  잔잔한  파도같고  쉽게 잊혀지는 사실들을 심도있게다룬것 같아  좋았다  근데  상...
4      10  잔잔함 속에 또한번 나의 삶을 반성하게 하는 영화였습니다 이 영화를 통해 사회적으로...
..    ...                                                ...
993     1  아니 평점 왜이리 높은 지 모르겠네... 상영관에 나랑 내 친구 둘밖에 없을 때 부...
994     2  소리도없이를 보러 가서 표를 끊었는데...광고에 소리도 없이 광고가 나와서...전혀...
995     1  제가 웬만하면 영화 재미있게보는데 이건 ㄹㅇ OO 핵노잼이에요재미 감동도 없고 스토...
996     2               감동은 있는데 결말,,,여운이남네ㅋㅋㅋㅋ그냥 딴영화보는게 맘편할듯
997     1  이런 영상물은 예술도 아니고 다시는 제작되어 세상에 상영되어서는 안 된다 2020년...

[998 rows x 2 columns]

In [22]:
df.to_csv('review_5.csv', encoding = 'CP949', index = False)

In [23]:
count = 0
for x in df["score"]:
    if x=='1':
        count+=1
        
count

149

In [24]:
count = 0
for x in df["score"]:
    if x=='2':
        count+=1
        
count

136

In [25]:
count = 0
for x in df["score"]:
    if x=='3':
        count+=1
        
count

8

In [26]:
count = 0
for x in df["score"]:
    if x=='4':
        count+=1
        
count

52

In [27]:
count = 0
for x in df["score"]:
    if x=='5':
        count+=1
        
count

12

In [28]:
count = 0
for x in df["score"]:
    if x=='6':
        count+=1
        
count

75

In [29]:
count = 0
for x in df["score"]:
    if x=='7':
        count+=1
        
count

20

In [30]:
count = 0
for x in df["score"]:
    if x=='8':
        count+=1
        
count

93

In [31]:
count = 0
for x in df["score"]:
    if x=='9':
        count+=1
        
count

51

In [32]:
count = 0
for x in df["score"]:
    if x=='10':
        count+=1
        
count

402