In [1]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
reple_list = []
score_list = []
for page in range(1, 101) :
    
    url ='https://movie.naver.com/movie/bi/mi/pointWriteFormList.naver?code=39510&type=after&onlyActualPointYn=N&onlySpoilerPointYn=N&order=newest&page='+str(page)
    res = req.get(url)
    soup = bs(res.text, 'lxml')
    
    # 댓글 영역 선택
    reples = soup.select('div.score_reple > p')
    
    # 평점 영역 선택
    scores = soup.select('div.star_score > em')
    
    # 관람객 선택, 제거
    icon = soup.select('span.ico_viewer')
    for viewer in icon:
        viewer.extract()  
        
    # 스포일러 텍스트 선택, 제거
    spo = soup.select('span.text_spo')
    for spo_text in spo:
        spo_text.extract()
    
    for reple in reples:
        reple_list.append(reple.text.strip())
        
    for score in scores:
        score_list.append(score.text.strip())

In [3]:
info = { 'score' : score_list, 'review' : reple_list}

In [4]:
df = pd.DataFrame(info)

In [5]:
df

    score                                             review
0       2                      최악이네 무슨 주연여배우 연기가 참나 관객을 우롱하네
1      10                         나만 재밌게봤나...딱 그 역할에 그 역이던데.
2       2           비형 매도하고 혈액형 따지는 영화같아서 안봄. 별로 제목부터 맘에 안듦.
3      10                                         한지혜보다 정려원임
4       1  한지혜 아무리 봐도 못생김...볼때 마다 엄앵란 분 생각나고 촌스럽게 생겼다. 못생...
..    ...                                                ...
995     1                               혈액형신드롬에묻어가려는아무것도아닌영화
996     1                     요사이 영화를 너무 많이 봤더니 내가 미쳤나? 미치겠다
997    10                                            ㅋ 보고 싶다
998     8                보고 나면 그냥  킬링타임용.. 뭐..그렇게 나쁘지도 좋지도..
999     6                    한지혜가좋아서 봤는데..너무지루했다.그러나재밌긴축에는있다

[1000 rows x 2 columns]

In [16]:
df.to_csv('review_9.csv', encoding = 'CP949', index = False)

In [6]:
count = 0
for x in df["score"]:
    if x=='1':
        count+=1
        
count

304

In [7]:
count = 0
for x in df["score"]:
    if x=='2':
        count+=1
        
count

80

In [8]:
count = 0
for x in df["score"]:
    if x=='3':
        count+=1
        
count

63

In [9]:
count = 0
for x in df["score"]:
    if x=='4':
        count+=1
        
count

69

In [10]:
count = 0
for x in df["score"]:
    if x=='5':
        count+=1
        
count

72

In [11]:
count = 0
for x in df["score"]:
    if x=='6':
        count+=1
        
count

65

In [12]:
count = 0
for x in df["score"]:
    if x=='7':
        count+=1
        
count

67

In [13]:
count = 0
for x in df["score"]:
    if x=='8':
        count+=1
        
count

64

In [14]:
count = 0
for x in df["score"]:
    if x=='9':
        count+=1
        
count

23

In [15]:
count = 0
for x in df["score"]:
    if x=='10':
        count+=1
        
count

193