In [1]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

In [16]:
reple_list = []
score_list = []
for page in range(1, 101) :
    
    url ='https://movie.naver.com/movie/bi/mi/pointWriteFormList.naver?code=174807&type=after&onlyActualPointYn=N&onlySpoilerPointYn=N&order=newest&page='+str(page)
    res = req.get(url)
    soup = bs(res.text, 'lxml')
    
    # 댓글 영역 선택
    reples = soup.select('div.score_reple > p')
    
    # 평점 영역 선택
    scores = soup.select('div.star_score > em')
    
    # 관람객 선택, 제거
    icon = soup.select('span.ico_viewer')
    for viewer in icon:
        viewer.extract()  
        
    # 스포일러 텍스트 선택, 제거
    spo = soup.select('span.text_spo')
    for spo_text in spo:
        spo_text.extract()
    
    for reple in reples:
        reple_list.append(reple.text.strip())
        
    for score in scores:
        score_list.append(score.text.strip())

In [17]:
info = { 'score' : score_list, 'review' : reple_list}

In [18]:
df = pd.DataFrame(info)

In [19]:
df

    score                                             review
0       1  물괴 창궐 게이트와 함께 한국영화의 르네상스라는 미친X들에게 꼭 보여주고 싶은 영화...
1       1                               10분도 안 보고 껐다. 예상이 가서
2       2                                     그냥... 보지마세요...
3       2                            그래서 영화에서 뭘 말하고 싶은 건지...
4       4                      OCN에서 갑자기 이시점에 손담비출연 엉화를 ~~~~
..    ...                                                ...
993    10           오랜만에 코메디 영화 너무 재밌네요~~ㅋ 신나게 웃고 즐기다 갑니다!!!
994    10                       완전 배꼽잡고 깔깔 웃었어여 ㅋㅋㅋ 장미 만세!!!
995    10                              담비누나 정말 팬이에요 너무 매력넘쳐요
996     9                                 원래 이런 영화는 웃기기만 하면됨
997     1                            1점은 없나요... 재미없는 농담들의 향연

[998 rows x 2 columns]

In [24]:
df.to_csv('review_2.csv', encoding = 'CP949', index = False)

In [20]:
count = 0
for x in df["score"]:
    if x=='1':
        count+=1
        
count

349

In [21]:
count = 0
for x in df["score"]:
    if x=='2':
        count+=1
        
count

88

In [22]:
count = 0
for x in df["score"]:
    if x=='3':
        count+=1
        
count

21

In [23]:
count = 0
for x in df["score"]:
    if x=='4':
        count+=1
        
count

35

In [24]:
count = 0
for x in df["score"]:
    if x=='5':
        count+=1
        
count

12

In [25]:
count = 0
for x in df["score"]:
    if x=='6':
        count+=1
        
count

35

In [26]:
count = 0
for x in df["score"]:
    if x=='7':
        count+=1
        
count

17

In [27]:
count = 0
for x in df["score"]:
    if x=='8':
        count+=1
        
count

104

In [28]:
count = 0
for x in df["score"]:
    if x=='9':
        count+=1
        
count

58

In [29]:
count = 0
for x in df["score"]:
    if x=='10':
        count+=1
        
count

279