In [2]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

In [3]:
reple_list = []
score_list = []
for page in range(1, 101) :
    
    url ='https://movie.naver.com/movie/bi/mi/pointWriteFormList.naver?code=159877&type=after&onlyActualPointYn=N&onlySpoilerPointYn=N&order=newest&page='+str(page)
    res = req.get(url)
    soup = bs(res.text, 'lxml')
    
    # 댓글 영역 선택
    reples = soup.select('div.score_reple > p')
    
    # 평점 영역 선택
    scores = soup.select('div.star_score > em')
    
    # 관람객 선택, 제거
    icon = soup.select('span.ico_viewer')
    for viewer in icon:
        viewer.extract()  
        
    # 스포일러 텍스트 선택, 제거
    spo = soup.select('span.text_spo')
    for spo_text in spo:
        spo_text.extract()
    
    for reple in reples:
        reple_list.append(reple.text.strip())
        
    for score in scores:
        score_list.append(score.text.strip())

In [4]:
info = { 'score' : score_list, 'review' : reple_list}

In [5]:
df = pd.DataFrame(info)

In [6]:
df

    score                                             review
0       1       77만명한데 안미안하냐? 참 감독등.배우등 미안함을 조금이라도 느낀다면 소주사라
1       6           막장 스토리 킬링타임용솔직히 키포인트는 선 자리의 닥터이다. 매력쩔던데.
2       1                                       가영이가 넘나이기적이쥬
3       1                                 감독하기 참 쉽네 똥망 그 자체.
4      10
..    ...                                                ...
995     1                   뭘 해도 기본은 합시다, 이건 뭐 엉망진창도 정도껏 해야지
996    10  20대와 40대의 사랑에 대한 거부감에 사로잡히셨나 다들.. ㄷㄷ저는 개인적으로 재...
997     6                              각본 좋았음. 대사. 디테일이 살아있음
998    10  괜찮은영화인데 젊은여자가 나이든사람울 좋아하는 현실에 없는 설정을 싫어하는 젊은 관...
999     1           진짜 올해 한국영화 망작 퍼레이드다.... 유해진 배우 참 좋아하는데..

[1000 rows x 2 columns]

In [17]:
df.to_csv('review_10.csv', encoding = 'CP949', index = False)

In [7]:
count = 0
for x in df["score"]:
    if x=='1':
        count+=1
        
count

356

In [8]:
count = 0
for x in df["score"]:
    if x=='2':
        count+=1
        
count

80

In [9]:
count = 0
for x in df["score"]:
    if x=='3':
        count+=1
        
count

22

In [10]:
count = 0
for x in df["score"]:
    if x=='4':
        count+=1
        
count

51

In [11]:
count = 0
for x in df["score"]:
    if x=='5':
        count+=1
        
count

27

In [12]:
count = 0
for x in df["score"]:
    if x=='6':
        count+=1
        
count

76

In [13]:
count = 0
for x in df["score"]:
    if x=='7':
        count+=1
        
count

33

In [14]:
count = 0
for x in df["score"]:
    if x=='8':
        count+=1
        
count

117

In [15]:
count = 0
for x in df["score"]:
    if x=='9':
        count+=1
        
count

18

In [16]:
count = 0
for x in df["score"]:
    if x=='10':
        count+=1
        
count

220