In [1]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
reple_list = []
score_list = []
for page in range(1, 101) :
    
    url ='https://movie.naver.com/movie/bi/mi/pointWriteFormList.naver?code=190726&type=after&isActualPointWriteExecute=false&isMileageSubscriptionAlready=false&isMileageSubscriptionReject=false&page='+str(page)
    res = req.get(url)
    soup = bs(res.text, 'lxml')
    
    # 댓글 영역 선택
    reples = soup.select('div.score_reple > p')
    
    # 평점 영역 선택
    scores = soup.select('div.star_score > em')
    
    # 관람객 선택, 제거
    icon = soup.select('span.ico_viewer')
    for viewer in icon:
        viewer.extract()  
        
    # 스포일러 텍스트 선택, 제거
    spo = soup.select('span.text_spo')
    for spo_text in spo:
        spo_text.extract()
    
    for reple in reples:
        reple_list.append(reple.text.strip())
        
    for score in scores:
        score_list.append(score.text.strip())

In [3]:
info = { 'score' : score_list, 'review' : reple_list}

In [4]:
df = pd.DataFrame(info)

In [5]:
df

    score                                             review
0       6  공포영화 무서워하는 편인데, 중간까지는 좀 무서웠고, 뒤쪽은 졸렸어요..감독이 하고...
1      10                      이 영화 만든 분 악마가 이 영화 만들라고 시킨듯..
2       5                             사랑의 힘과 신파로 떡칠된 영능력 수사물
3       2                                     매우 지루함공포지수도 낮음
4       8   2편까진 괜찮았는데 3이 되면서 갑자기 헐리우드식 전개가 되버림..가족만세! 사랑만세!
..    ...                                                ...
995    10  갑툭튀만있는 공포영화가 아니라 엑소시즘을 중심으로 영화가 전개돼서 넘 좋았음 갠적으...
996     2                   감독이 바뀌니까 답이없네ㅋㅋㅋ 공포영화가 공포영화 다워야지
997     7  공포를 기대하면....안됨 TV과대광고가 영화를 망침(그래서 7점임 난 잠 못 잘 ...
998     5  완성도는 떨어집니다... 초반 깜짝물, 중반 추리물 후반 개그물 5252 악마술사는...
999     4  공포영화 좋아하는 분들은 하나도 무섭지 않게 보실 수 있습니다..호러 라기보다는 스...

[1000 rows x 2 columns]

In [16]:
df.to_csv('review_6.csv', encoding = 'CP949', index = False)

In [6]:
count = 0
for x in df["score"]:
    if x=='1':
        count+=1
        
count

123

In [7]:
count = 0
for x in df["score"]:
    if x=='2':
        count+=1
        
count

102

In [8]:
count = 0
for x in df["score"]:
    if x=='3':
        count+=1
        
count

15

In [9]:
count = 0
for x in df["score"]:
    if x=='4':
        count+=1
        
count

93

In [10]:
count = 0
for x in df["score"]:
    if x=='5':
        count+=1
        
count

34

In [11]:
count = 0
for x in df["score"]:
    if x=='6':
        count+=1
        
count

130

In [12]:
count = 0
for x in df["score"]:
    if x=='7':
        count+=1
        
count

64

In [13]:
count = 0
for x in df["score"]:
    if x=='8':
        count+=1
        
count

115

In [14]:
count = 0
for x in df["score"]:
    if x=='9':
        count+=1
        
count

45

In [15]:
count = 0
for x in df["score"]:
    if x=='10':
        count+=1
        
count

279